---
import Heading from "@/components/Heading.astro";
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

// Fetch and sort sites
const sites = (await getCollection("sites")).sort((a, b) =>
  (a.data.title || "").localeCompare(b.data.title || ""),
);

// Extract unique tags
const tagSet = new Set<string>();
for (const site of sites) {
  for (const tag of site.data.tags ?? []) {
    tagSet.add(tag);
  }
}
const uniqueTags = Array.from(tagSet);

const title = "Sites You Wish You Knew Earlier!";
const description = "Sites You Wish You Knew Earlier by AREA44";
---

<BaseLayout title={title} description={description}>
  <Heading>Browse Sites by Tag</Heading>

  <!-- Unique Tags -->
  <div class="flex flex-wrap gap-1">
    {
      uniqueTags.map((tag) => (
        <Badge>
          <a href={`/tag/${tag.replace(/\s+/g, "-")}/`}>{tag}</a>
        </Badge>
      ))
    }
  </div>

  <Heading>Sites You Wish You Knew Earlier!</Heading>

  <!-- Site Cards -->
  <div class="pt-4">
    {
      sites.map((site) => (
        <div class="pb-2">
          <Card key={site.id}>
            <a href={site.data.url} target="_blank" rel="noopener noreferrer">
              <CardHeader>
                <CardTitle>{site.data.title}</CardTitle>
                <CardDescription>{site.data.description}</CardDescription>
              </CardHeader>
              <CardFooter className="flex flex-wrap gap-1">
                {(site.data.tags ?? []).map((tag) => (
                  <Badge>
                    <a href={`/tag/${tag.replace(/\s+/g, "-")}/`}>{tag}</a>
                  </Badge>
                ))}
              </CardFooter>
            </a>
          </Card>
        </div>
      ))
    }
  </div>
</BaseLayout>
