---
import BaseHead from "../components/BaseHead.astro";
import OutlineHeading from "../components/OutlineHeading.astro";
import Section from "../components/Section.astro";
import NoteListItem from "../components/NoteListItem.astro";
import Layout from "../layouts/Layout.astro";
import { notesAndTags } from "../helps/notes";

let title = "SYWYKE | Sites You Wish You Know Earlier!";
let description = "Sites You Wish You Know Earlier! by AREA44";
let permalink = "https://sywyke.netlify.app";

let notes = await Astro.glob(`../notes/*.md`);
const { allNotes, allTags } = notesAndTags(notes);
---

<html lang="en">
  <BaseHead title={title} description={description} permalink={permalink} />

  <body>
    <Layout tags={allTags}>
      <OutlineHeading>Sites You Wish You Know Earlier!</OutlineHeading>
      <Section>
        <ul>
          {
            allNotes.map(
              ({ url, frontmatter: { excerpt, slug, title, tags } }) => (
                <NoteListItem {url} {excerpt} {slug} {title} {tags} />
              )
            )
          }
        </ul>
      </Section>
    </Layout>
  </body>
</html>
