---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Heading from '@/components/Heading.astro'
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { Badge } from '@/components/ui/badge'

import { getCollection } from 'astro:content'
import { sitesAndTags } from '@/utils/sites'

const sites = await getCollection('sites')
const { allSites, allTags } = sitesAndTags(sites)
const tagsSorted = allTags ? Object.keys(allTags).sort() : []

let title = `Sites You Wish You Know Earlier!`
let description = `Sites You Wish You Know Earlier by AREA44`
---

<BaseLayout title={title} description={description}>
  <Heading>
    Browse Sites by Tag
  </Heading>
  <div class="py-4 space-x-1 space-y-1">
    {
      tagsSorted.map((tag) => (
        <Badge>
          <a href={`/tag/${tag}/`}>
            {tag} | {allTags[tag].length}
          </a>
        </Badge>
      ))
    }
  </div>

  <Heading>
    Sites You Wish You Know Earlier!
  </Heading>
  <div class="pt-4">
    {
      allSites.map(({ data: { description, site, title, tags } }) => (
      <div class="pb-2">
        <Card>
          <a href={site} target="_blank">
            <CardHeader>
              <CardTitle>{title}</CardTitle>
              <CardDescription>{description}</CardDescription>
            </CardHeader>
            <CardFooter className="space-x-1 space-y-1">
              {tags.map((tag) => (
                <Badge>
                  <a href={`/tag/${tag}/`}>{tag}</a>
                </Badge>
              ))}
            </CardFooter>
          </a>
        </Card>
      </div>
      ))
    }
  </div>
</BaseLayout>
