---
import Heading from "@/components/Heading.astro";
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import type { Site } from "@/lib/siteHelpers";
import { sitesAndTags } from "@/lib/siteHelpers";

const sites = await getCollection("sites");
const { allSites, allTags } = sitesAndTags(sites);
const tagsSorted: string[] = allTags ? Object.keys(allTags).sort() : [];

const title = "Sites You Wish You Knew Earlier!";
const description = "Sites You Wish You Knew Earlier by AREA44";
---

<BaseLayout title={title} description={description}>
  <Heading>Browse Sites by Tag</Heading>
  <div class="flex flex-wrap gap-1">
    {
      tagsSorted.map((tag: string) => (
        <Badge>
          <a href={`/tag/${tag}/`}>
            {tag} | {allTags[tag].length}
          </a>
        </Badge>
      ))
    }
  </div>

  <Heading>Sites You Wish You Knew Earlier!</Heading>
  <div class="pt-4">
    {
      allSites.map(({ id, data }: Site) => (
        <div class="pb-2">
          <Card key={id}>
            <a href={data.site} target="_blank">
              <CardHeader>
                <CardTitle>{data.title}</CardTitle>
                <CardDescription>{data.description}</CardDescription>
              </CardHeader>
              <CardFooter className="flex flex-wrap gap-1">
                {(data.tags ?? []).map((tag: string) => (
                  <Badge>
                    <a href={`/tag/${tag}/`}>{tag}</a>
                  </Badge>
                ))}
              </CardFooter>
            </a>
          </Card>
        </div>
      ))
    }
  </div>
</BaseLayout>
