---
import BaseLayout from '@/layouts/BaseLayout.astro'
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { Badge } from '@/components/ui/badge'

import { getCollection } from 'astro:content'
import { sitesAndTags } from '@/utils/sites'

const sites = await getCollection('sites')
const { allSites, allTags } = sitesAndTags(sites)
const tagsSorted = allTags ? Object.keys(allTags).sort() : []

let title = `Sites You Wish You Know Earlier!`
let description = `Sites You Wish You Know Earlier by AREA44`
---

<BaseLayout title={title} description={description}>
  <h2
    class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
  >
    Browse Sites by Tag
  </h2>
  <div class="p-2">
    {
      tagsSorted.map((tag) => (
        <Badge>
          <a href={`/tag/${tag}/`}>
            {tag} | {allTags[tag].length}
          </a>
        </Badge>
      ))
    }
  </div>

  <h2
    class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
  >
    Sites You Wish You Know Earlier!
  </h2>
  <div>
    {
      allSites.map(({ url, data: { description, site, title, tags } }) => (
        <Card>
          <a href={site} target="_blank">
            <CardHeader>
              <CardTitle>{title}</CardTitle>
              <CardDescription>{description}</CardDescription>
            </CardHeader>
            <CardFooter>
              {tags.map((tag) => (
                <Badge>
                  <a href={`/tag/${tag}/`}>{tag}</a>
                </Badge>
              ))}
            </CardFooter>
          </a>
        </Card>
      ))
    }
  </div>
</BaseLayout>
