---
import BaseHead from "../components/BaseHead.astro";
import OutlineHeading from "../components/OutlineHeading.astro";
import Section from "../components/Section.astro";
import NoteListItem from "../components/NoteListItem.astro";
import Layout from "../components/Layout.astro";
import { notesAndTags } from "../helps/notes";

let title = `SYWYKE | Sites You Wish You Know Earlier!`;
let description = `Sites You Wish You Know Earlier! by AREA44`;
let permalink = "https://sywyke.netlify.app";

let notes = await Astro.glob(`../notes/*.md`);
const { allNotes, allTags } = await notesAndTags(notes);
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <Layout tags={allTags}>
      <OutlineHeading>Sites You Wish You Know Earlier!</OutlineHeading>
      <Section>
        <ul>
          {
            allNotes.map(
              ({ url, frontmatter: { excerpt, slug, title, tags } }) => (
                <NoteListItem {url} {excerpt} {slug} {title} {tags} />
              )
            )
          }
        </ul>
      </Section>
    </Layout>
  </body>
</html>
