---
export type Props = {
	title?: string
	description?: string
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.ico">
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content="#ffffff" />
  <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
  <title>{title}</title>
  <meta name="title" content={title}>
  <meta name="description" content={description}>
  <meta property="og:type" content="website">
  <meta property="og:url" content={Astro.url}>
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:image" content={new URL("og.svg", Astro.site)}>
  <meta name="twitter:url" content={Astro.url}>
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image" content={new URL("og.svg", Astro.site)}>

  <link rel="preload" href="fonts/chivo-v17-latin-700.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/chivo-v17-latin-900.woff2" as="font" type="font/woff2" crossorigin />
</head>