---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import "@/styles/global.css";

export type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Sites You Wish You Knew Earlier!",
  description = "A curated collection of underrated websites by AREA44",
} = Astro.props;

const siteUrl = Astro.site;
const ogImage = new URL("og.png", siteUrl).toString();
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Favicon & Icons -->
  <link rel="icon" href={`${siteUrl}favicon.ico`} />
  <link rel="icon" sizes="16x16" href={`${siteUrl}favicon-16x16.png`} />
  <link rel="icon" sizes="32x32" href={`${siteUrl}favicon-32x32.png`} />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href={`${siteUrl}apple-touch-icon.png`}
  />
  <link rel="manifest" href={`${siteUrl}site.webmanifest`} />
  <link
    rel="sitemap"
    type="application/xml"
    href={`${siteUrl}sitemap-index.xml`}
  />
  <meta name="generator" content={Astro.generator} />
  <!-- Theme -->
  <meta name="theme-color" content="#ffffff" />

  <!-- SEO Meta -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="image" content={ogImage} />
  <meta name="generator" content={Astro.generator} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImage} />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content={Astro.url} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={ogImage} />

  <ClientRouter />

  <!-- Fonts -->
  <Font cssVariable="--font-geist" preload />
</head>
