---
import type { CollectionEntry } from "astro:content";

const { sites } = Astro.props;
type SiteEntry = CollectionEntry<"sites">;

import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { slugify } from "@/lib/siteUtils";
---

<section class="pt-4 space-y-4">
  {
    (sites as SiteEntry[]).map((site) => (
      <Card key={site.id}>
        <CardHeader>
          <CardTitle>
            <a
              href={site.data.url}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:underline"
            >
              {site.data.title}
            </a>
          </CardTitle>
          <CardDescription>{site.data.description}</CardDescription>
        </CardHeader>
        <CardFooter className="flex flex-wrap gap-1">
          {(site.data.tags ?? []).map((tag) => (
            <Badge key={tag}>
              <a href={`/tag/${slugify(tag)}/`}>{tag}</a>
            </Badge>
          ))}
        </CardFooter>
      </Card>
    ))
  }
</section>
