---
import BaseHead from '../../components/BaseHead.astro';
import NoteListItem from '../../components/NoteListItem.astro';
import Section from '../../components/Section.astro';
import Layout from '../../components/Layout.astro';
import { notesAndTags } from '../../helps/notes';

export async function getStaticPaths() {
  let notes = await Astro.glob(`../../notes/*.md`);
  const { allTags } = notesAndTags(notes);
  return Object.keys(allTags).map((tag) => ({
    params: { tag: tag },
    props: { notes: allTags[tag] },
  }));
}

export function formatDate(date) {
  return new Date(date.replace(/-/g, '/')).toLocaleDateString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric',
  });
}

const { tag } = Astro.params;
const { notes } = Astro.props;
const allNotes = await Astro.glob(`../../notes/*.md`);
const { allTags } = notesAndTags(allNotes);
const tagHeader = `${notes.length} post${
  notes.length === 1 ? '' : 's'
} tagged with "${tag}"`;
const title = `${tagHeader} | Sites You Wish You Know Earlier!`;
const description = tagHeader;
const permalink = `https://sywyke.netlify.app/tag/${tag}`;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <Layout tags={allTags}>
    <div>
      <h1>{tagHeader}</h1>
      <Section>
        <ul>
          {
            notes.map(
              ({ url, frontmatter: { excerpt, slug, title, tags } }) => (
                <NoteListItem {url} {excerpt} {slug} {title} {tags} />
              )
            )
          }
        </ul>
      </Section>
    </div>
  </Layout>

  <style>
    ul {
      list-style: none;
      padding: 0;
    }
  </style>

</html>
