---
import Heading from "@/components/Heading.astro";
import Paginator from "@/components/Paginator.astro";
import SiteList from "@/components/SiteList.astro";
import TagFilterList from "@/components/TagFilterList.astro";
import Layout from "@/layouts/BaseLayout.astro";
import { extractUniqueTags, getPaginatedSites, slugify } from "@/lib/siteUtils";

// Generate static paths
export async function getStaticPaths() {
  const perPage = 10;
  const allSites = await getPaginatedSites(1, perPage); // Just to get total count
  return Array.from({ length: allSites.totalPages - 1 }).map((_, i) => ({
    params: { page: String(i + 2) },
    props: { page: i + 2, perPage },
  }));
}

const { page, perPage } = Astro.props;
const { paginated, totalPages, allSites } = await getPaginatedSites(
  page,
  perPage,
);
const uniqueTags = extractUniqueTags(allSites);

const title = `Page ${page} | Sites You Wish You Knew Earlier!`;
const description = "Sites You Wish You Knew Earlier by AREA44";
---

<Layout title={title} description={description}>
  <Heading level={2}>Browse Sites by Tag</Heading>

  <TagFilterList tags={uniqueTags} />

  <Heading level={2}>{title}</Heading>

  <SiteList sites={paginated} />

  <div class="mt-8 flex justify-center">
    <Paginator currentPage={page} totalPages={totalPages} />
  </div>
</Layout>
