---
import Layout from "@/layouts/BaseLayout.astro";
import Heading from "@/components/Heading.astro";
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Pagination from "@/components/Pagination.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const sites = await getCollection("sites");
  const perPage = 8;
  const totalPages = Math.ceil(sites.length / perPage);

  return Array.from({ length: totalPages - 1 }).map((_, i) => {
    const page = i + 2;
    return {
      params: { page: String(page) },
      props: { page, perPage },
    };
  });
}

const { page, perPage } = Astro.props;

const allSites = (await getCollection("sites")).sort((a, b) =>
  (a.data.title || "").localeCompare(b.data.title || ""),
);
const paginatedSites = allSites.slice((page - 1) * perPage, page * perPage);
const totalPages = Math.ceil(allSites.length / perPage);

const tagSet = new Set<string>();
for (const site of allSites) {
  for (const tag of site.data.tags ?? []) {
    tagSet.add(tag);
  }
}
const uniqueTags = Array.from(tagSet);

const title = `Page ${page} | Sites You Wish You Knew Earlier!`;
const description = "Sites You Wish You Knew Earlier by AREA44";
---

<Layout title={title} description={description}>
  <Heading>Browse Sites by Tag</Heading>

  <div class="flex flex-wrap gap-1 mb-4">
    {
      uniqueTags.map((tag) => (
        <Badge>
          <a href={`/tag/${tag.replace(/\s+/g, "-")}/`}>{tag}</a>
        </Badge>
      ))
    }
  </div>

  <Heading>{title}</Heading>

  <div class="pt-4">
    {
      paginatedSites.map((site) => (
        <div class="pb-2">
          <a href={site.data.url} target="_blank" rel="noopener noreferrer">
            <Card key={site.id}>
              <CardHeader>
                <CardTitle>{site.data.title}</CardTitle>
                <CardDescription>{site.data.description}</CardDescription>
              </CardHeader>
              <CardFooter className="flex flex-wrap gap-1">
                {(site.data.tags ?? []).map((tag) => (
                  <Badge>
                    <a href={`/tag/${tag.replace(/\s+/g, "-")}/`}>{tag}</a>
                  </Badge>
                ))}
              </CardFooter>
            </Card>
          </a>
        </div>
      ))
    }
  </div>

  <Pagination currentPage={page} totalPages={totalPages} />
</Layout>
