---
import Heading from "@/components/Heading.astro";
import Paginator from "@/components/Paginator.astro";
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "@/layouts/BaseLayout.astro";
import { extractUniqueTags, getPaginatedSites, slugify } from "@/lib/siteUtils";

// Generate static paths
export async function getStaticPaths() {
  const perPage = 10;
  const allSites = await getPaginatedSites(1, perPage); // Just to get total count
  return Array.from({ length: allSites.totalPages - 1 }).map((_, i) => ({
    params: { page: String(i + 2) },
    props: { page: i + 2, perPage },
  }));
}

const { page, perPage } = Astro.props;
const { paginated, totalPages, allSites } = await getPaginatedSites(
  page,
  perPage,
);
const uniqueTags = extractUniqueTags(allSites);

const title = `Page ${page} | Sites You Wish You Knew Earlier!`;
const description = "Sites You Wish You Knew Earlier by AREA44";
---

<Layout title={title} description={description}>
  <Heading>Browse Sites by Tag</Heading>

  <div class="flex flex-wrap gap-1 mb-4">
    {
      uniqueTags.map((tag) => (
        <Badge>
          <a href={`/tag/${slugify(tag)}/`}>{tag}</a>
        </Badge>
      ))
    }
  </div>

  <Heading>{title}</Heading>

  <section class="pt-4 space-y-4">
    {
      paginated.map((site) => (
        <Card key={site.id}>
          <CardHeader>
            <CardTitle>
              <a
                href={site.data.url}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline"
              >
                {site.data.title}
              </a>
            </CardTitle>
            <CardDescription>{site.data.description}</CardDescription>
          </CardHeader>
          <CardFooter className="flex flex-wrap gap-1">
            {(site.data.tags ?? []).map((tag) => (
              <Badge>
                <a href={`/tag/${slugify(tag)}/`}>{tag}</a>
              </Badge>
            ))}
          </CardFooter>
        </Card>
      ))
    }
  </section>

  <div class="mt-8 flex justify-center">
    <Paginator currentPage={page} totalPages={totalPages} />
  </div>
</Layout>
